<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/nav.css' />
  </head>
  <body>
    <header>
      <div class="navigation-bar">
        <div id="navigation-container">
        <img src="./img/logo_azul.png" alt="logo" id="logo">
        <ul>
          <li><a href="curiosidades.ejs">Curiosidades</a></li>
          <li><a href="conhecimento.ejs">Conhecimento</a></li>
          <li><a href="noticias.ejs">Noticias</a></li>
          <li><a href="dicionario.ejs">Dicionário</a></li>
          <li><a href="forum">Forum</a></li>
          <li><input type="text" placeholder="Pesquisar"></li>
        </ul>
        <a href="https://www.instagram.com.br">
          <img src="./img/insta_azul.png" alt="logo" id="insta">
        </a>
        </div>
      </div>
    </header>
    <main>
      <div class="background-container">
        <img src="./img/ponte.jpg" alt="ponte">
      </div>
      <div class="categoria">
        <div id="miniposts">
          <img src="./img/orcas.jpg" alt="orcas">
          <img src="./img/plancton.jpg" alt="baleias">
          <img src="./img/carangueijo.jpg" alt="baleias">
        </div>
        <div id="mainposts">
          <img src="./img/baleias.jpg" alt="baleias">
          <h1>Oceano O quê?</h1>
        </div>
      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
