<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <div class="navigation-bar">
        <div id="navigation-container">
        <ul>
          <li><img src="./img/logo_branca.png" alt="logo" id="logo"></li>
          <li><a href="curiosidades.ejs">Curiosidades</a></li>
          <li><a href="conhecimento.ejs">Conhecimento</a></li>
          <li><a href="noticias.ejs">Noticias</a></li>
          <li><a href="dicionario.ejs">Dicionário</a></li>
          <li><a href="forum">Forum</a></li>
          <li><input type="text" placeholder="Pesquisar"></li>
        </ul>
        </div>
      </div>
    </header>
    <main>
      <div class="first-container">
        <img src="./img/ponte.jpg" alt="ponte">
        <div class="category-description">
          <h1>Oceanografia Biologica</h1>
        </div>
      </div>
      <div class="description-container">
        <br>
        <br>
          <p>A oceanografia biológica estuda os organismos que habitam o meio marinho, assirn como sua distribuição, seus ciclos de vida e suas respostas / ao meio arnbiente. Os organismos marinhos possuem adaptações para se locomoverem e se alimentarem no meio marinho, sendo sua O movimentação estimulada pelas águas.
          </p>
          <p>
            Essas adaptações sã resultantes da alta densidade da água do mar, O onde o gasto energético usado na movimentação dos organismos marinhos para flutuar ou nadar é menor que o gasto de organismos • terrestres para caminhar e voar. A maioria dos vegetais marinhos são microscópicos e flutuantes, com muitos animais invertebrados e peixes com ossos pequenos. Por este motivo, os organismos marinhos crescern mais rápidos podem ter urn ciclo de vida mais curto. Esses seres vivos são classificados em .s grandes compartimentos, habitando a coluna d'água (plâncton e nécton) e as profundezas do oceano (bentos). 
          </p>
          <p>
            As espécies planctânicas, ou plâncton, são seres pequenos ou microscópicos que não conseguem se locomover ou nadar de forma efetiva, possuindo estruturas que auxiliam na sua flutuação na água do mar, como por exemplo as águas-vivas e até mesmo larvas de peixes e pequenos vegetais microscópicos. 
          </p>  
          <p>
            Esses indivíduos formam a base da cadeia alimentar marinha, servindo de alimento para muitos invertebrados e até mesmo de vertebrados que capturam o plâncton através de pequenas estruturas que funcionam como filtros ou redes. Já o nécton é forrnado por organismos que conseguem </p>
      </div>
      <div>

      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
