<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro Usuario</h1>
    <form action="/usuarios/criar" method="POST">
        <h1>Nome</h1>
        <input type="text" name="nome" id="">
        <h1>Email</h1>
        <input type="text" name="email" id="">
        <h1>Nome</h1>
        <input type="text" name="senha" id="">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>